:root {
    --primary-color: #2ab363;
    --primary-color-alt: #209752;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color-alt);
}

::selection {
    background-color: var(--primary-color-alt);
    color: #000000;
}

::-moz-selection {
    background-color: var(--primary-color-alt);
    color: #000000;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Space Grotesk", sans-serif !important;
    background: #000;
    color: #fff;
}

header {
    background: #000000;
}

.navbar-brand {
    color: #ffffff !important;
    transition: color .2s;
}

.navbar-brand:hover {
    color: var(--primary-color-alt) !important;
}

.nav-link {
    color: #ffffff !important;
    transition: color .2s;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-mobile-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-mobile-btn i {
    font-size: 22px;
    color: #fff;
}

.show {
    margin-top: 20px;
}

.hero-img img {
    max-width: 230px;
    width: 100%;
}

.hero-social-item i {
    color: var(--primary-color-alt);
    font-size: 30px;
}

.hero-social-item:hover i {
    color: var(--primary-color);
}

.about {
    margin-top: 150px;
}

.about-text {
    margin: 30px 0px;
}

.about-link {
    color: var(--primary-color);
}

.about-link:hover {
    color: var(--primary-color-alt);
}

.hobbies-main {
    padding: 0 1rem;
    margin-bottom: 70px;
}

.hobbies-title {
    margin: 1rem 0 2.5rem 0;
}

.hobbies-item {
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: transform .4s;
}

.hobbies-item:hover {
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(32,151,82,0.2);
    -moz-box-shadow: 0px 0px 15px 5px rgba(32,151,82,0.2);
    box-shadow: 0px 0px 15px 5px rgba(32,151,82,0.2);
}

.hobbies-item i {
    font-size: 60px;
    margin: 30px 0px;
    color: var(--primary-color-alt);
}

.contact {
    margin-bottom: 80px;
}

.contact-title {
    margin-bottom: 40px;
}

.contact-link {
    text-decoration: none;
    margin-right: 20px;
}

.contact-link:last-child {
    margin-right: 0;
}

.contact-link i {
    font-size: 35px;
    color: var(--primary-color-alt);
}

.contact-link i:hover {
    color: var(--primary-color);
}

.footer-info {
    margin: 2rem 0;
}

@media (max-width: 768px) {
    .footer-info {
        text-align: center !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-item {
        display: flex !important;
        justify-content: center !important;
    }
}