:root {
    --primary-color: #2ab363;
    --primary-color-alt: #209752;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Space Grotesk", sans-serif !important;
    background: #000;
    color: #fff;
}

header {
    background: #000000;
}

.navbar-brand {
    color: #ffffff !important;
    transition: color .2s;
}

.navbar-brand:hover {
    color: var(--primary-color-alt) !important;
}

.nav-link {
    color: #ffffff !important;
    transition: color .2s;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-mobile-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-mobile-btn i {
    font-size: 22px;
}

.hero-img img {
    max-width: 230px;
    width: 100%;
}

.hero-social-item i {
    color: var(--primary-color-alt);
    font-size: 30px;
}

.hero-social-item:hover i {
    color: var(--primary-color);
}

.about {
    margin-top: 150px;
}